// link
.link
  color: $yellow
  &--navbar
    font-size: 24px
    margin-right: 30px
    transition: all 0.3s ease
    border-bottom: 2px solid transparent
    &:last-of-type
      margin-right: 0
    &:hover, &:active, &:focus, &.active
      color: lighten($yellow, 10%)
      text-decoration: none
      border-bottom: 2px solid lighten($yellow, 10%)
// link END